<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" asp-href-include="lib/node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <script src="~/lib/node_modules/jquery/jquery.min.js"></script>
    <script src="~/lib/node_modules/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/node_modules/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <title>My Forum</title>
</head>
<body>
    <div class="navbar navbar-dark bg-dark" role="navigation">
        <a class="col navbar-brand" asp-action="List" asp-controller="Theme">ТЕСТОВЫЙ ФОРУМ</a>
    </div>
    <div class="row m-1 p-1">
        <div class="col">
            @if (TempData["message"] != null)
            {
                <div class="alert alert-success">@TempData["message"]</div>
            }
            @RenderBody()
        </div>
    </div>
</body>
</html>