@model Theme

<div class="card border-primary m-1 p-1">
    <div class="bg-light p-1">
        <a class="btn btn-block"
           asp-action="ListTopics"
           asp-controller="Theme"
           asp-route-themeId ="@Model.ThemeId">@Model.Name</a>
    </div>
</div>