@model Theme

@{
    ViewBag.Title = "Редактирование Темы";
    Layout = "_AdminLayout";
}

<form asp-action="EditTheme" method="post">
    <input type="hidden" asp-for="ThemeId" />
    <div class="form-group">
        <label asp-for="Name">Название</label>
        <div>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Сохранить</button>
        <a asp-action="IndexTheme" class="btn btn-secondary">Отмена</a>
    </div>
</form>
