@{ 
    Layout = null;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Forum</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" asp-href-include="/lib/node_modules/bootstrap/dist/*.min.css" />
</head>
<body>
    <div class="navbar navbar-dark bg-dark" role="navigation">
        <h3>Forum</h3>
    </div>
</body>
</html>